Proxy function for http request node in Node-RED v2.0.0-beta1

When using proxy, http request node in Node-RED v2.0-beta fails.

### What are the steps to reproduce?
1. Set the environment variables to use corporate proxy
 - export HTTP_PROXY="http://\<username\>:\<password\>@\<proxy host\>:\<port\>"
 - export HTTPS_PROXY="http://\<username\>:\<password\>@\<proxy host\>:\<port\>"

2. Create following flow to access the REST API
 [inject] -> [http request] -> [debug]

3. Set URL ( https://petstore.swagger.io/v2/swagger.json ) in http request property

4. Deploy and click the button of inject node to start the flow

### What happens?
The debug node outputs two errors.
- "RequestError: Bad response: 400"
- "RequestError: Bad response: 400 : https://petstore.swagger.io/v2/swagger.json"

![image](https://user-images.githubusercontent.com/20310935/121674814-7f7eac00-caed-11eb-8526-5d607b3db74a.png)

_The http request node output the same error when I use the configuration node by "Use proxy" option._
_Of course, the http request in Node-RED v1.3.5 works correctly in both cases._
_When the URL is http, the same error occurred (I used "http://example.org")._

### What do you expect to happen?
The debug node output correct JSON retrieved by URL.

### Please tell us about your environment:

- [x] Node-RED version: v2.0.0-beta.1
- [x] Node.js version: v16.1.0
- [x] npm version: v7.11.2
- [x] Platform/OS: Ubuntu 21.04 (WSL on Windows 10)
- [x] Browser: Google Chrome  91.0.4472.77(Official Build)(64 bit)


Yes, we know the HTTP Proxy support is broken - we highlighted that in the release forum post.

Do you have anything more to add to help us identify the root cause?

Is the username an email address?

@k-toumura will add the details of the network log. (He found that the `hpagent` module leads the problem.) 

@kazuhitoyokoi Ben has identified an issue with the `got` module when usernames include a `@` - which will be the case if the username is an email address.

Can you say if your username is an email address or not?

@hardillb @knolleary The username is not an e-mail address in my case. It is just 8 numbers like "12345678".

The header of the request issued by `hpagent` seems to be wrong.
When issuing a request to a proxy, the `Host` header should contain the hostname and port of the destination URL
(see [RFC7231 Section 4.3.6](https://datatracker.ietf.org/doc/html/rfc7231#section-4.3.6)), but the request issued by `hpagent` contain the hostname and port of the proxy.

For example, if the proxy address is proxy.example.com:8080 and the destination URL is https://destination.example.org/, the correct request would be:
```
CONNECT destination.example.org:443 HTTP/1.1
Host: destination.example.org:443
```
but `hpagent` issues the wrong request as follows:
```
CONNECT destination.example.org:443 HTTP/1.1
Host: proxy.example.com:8080
```

### Workaround
To make hpagent gives the correct `Host` headers, update the `hpagent`'s `requestOptions` 
([here](https://github.com/delvedor/hpagent/blob/2bbdad386d4ddcaf1162f52e606860aed4850a16/index.js#L21) and [here](https://github.com/delvedor/hpagent/blob/2bbdad386d4ddcaf1162f52e606860aed4850a16/index.js#L65)) from:
```
      path: `${options.host}:${options.port}`,
      headers: { connection: this.keepAlive ? 'keep-alive' : 'close'},

```
to:
```
      path: `${options.host}:${options.port}`,
      setHost: false,
      headers: { connection: this.keepAlive ? 'keep-alive' : 'close', host: `${options.host}:${options.port}` },
```

@k-toumura Can you raise an issue against hpagent with your findings?

Sure. I'll raise an issue. 

I'd raised an issue on delvedor/hpagent#25 .

Using Node-RED v2.0-beta2 in our proxy environment, I tested all of conditions which I wrote. Because it works correctly, I will close this issue.
@hardillb @k-toumura Thank you for solving this issue.