adminAuth and reverse proxy with BasicAuth

### What are the steps to reproduce?
Place Node-red under a nginx reverse proxy with basicauth enabled
Enable AdminAuth in node-red

**OR**
Set httpRoot: '/red'
Enable httpStatic
Enable AdminAuth in node-red
Enable httpStaticAuth

### What happens?
Whenever you log-in in the administrator screen you are logged out of the static/reverse_proxy

### What do you expect to happen?
Stay logged in in the static/reverse_proxy

### Any theory?
BasicAuth uses the "Authorization "Basic"' header while the AdminAuth wants to get a token by sending an 'Authorization "Bearer"' header, logging it out from the BasicAuth.

### Please tell us about your environment:
- [v0.18.4] Node-RED version:
- [v8.10.0] node.js version:
- [5.6.0] npm version:
- [Docker official image] Platform/OS:
- [Chrome 64.0.3282.186] Browser:


Hi, this will be an issue with your proxy configuration, it is not an issue with the core of node-red.

If you check out our [contribution guidelines](https://github.com/node-red/node-red/blob/master/CONTRIBUTING.md) you'll see we prefer to handle this sort of thing on the [mailing list](https://groups.google.com/forum/#!forum/node-red), [slack team](https://nodered.org/slack) or you could ask a question on [Stack Overflow](https://stackoverflow.com/questions/tagged/node-red) and tag it `node-red`. That way the whole Node-RED user community can help, rather than rely on the core development team.

Thanks!

Hello @knolleary 

if you see the second situation:
Set httpRoot: '/red'
Enable httpStatic
Enable AdminAuth in node-red
Enable httpStaticAuth

it has nothing to do with proxy. it has to do with the two security system implemented not being compatible.

regards

> it has nothing to do with proxy. 

It sounds like a fundamental incompatibility with enabling basicauth on the proxy and enabling node-red's own authentication. I'm not sure how you'd expect that to work?

i would expect the authentication to use the x-auth header instead of the auth header


I'm not familiar with `x-auth` and a google search finds nothing. Do you have any more details to share?

https://stackoverflow.com/questions/39017297/what-is-difference-between-x-auth-token-vs-authorisation-headers-which-is-prefer

Authorization is the primary header used by clients to authenticate against peers in HTTP as foreseen in RFC 7235. It is often linked to the Basic authentication scheme as per RFC 7617, but that is not a given.

The Basic scheme allows clients to provide a username-password-pair separated by a colon (:) coded in Base64. It cannot be stressed enough that this is a transport coding that provides no real security benefits. E.g. the example given by you can trivially be 'decrypted' into Aladdin:open sesame.

Through the IANA HTTP Authentication Scheme Registry (see also: RFC 7235, sec. 5.1) you will find the Bearer scheme (defined in RFC 6750), which is closely tied to OAuth 2.0. X-Auth-Token is pretty much providing a shortcut here as it (presumably) does not rely on either OAuth or the HTTP authentication framework.

Please note that with X-Auth-Token being an unregistered header, it is subject to no formal specification and its presence and content is always tied to a respective application. No general assumptions can be made on it.

err, the last line of that is the important bit. It's not a standard

@hardillb true. but Authorization is a standard used to BasicAuth and it is being deleted by the new protocol, completly ignoring its possible usage by someone else.

Considering that BasicAuth is also used in node-red, being expelled from the static content because you entered the admin area does not seems to be sensible.

That said, the Authorization header also allows for Basic and Bearer to co-exist by the usage of a comma but the current protocol just overwrites it.

Okay, my apologies, I thought your second scenario still involved the proxy as the issue title talks about this being an issue with using a proxy.

Having tested your scenario, I'm not able to recreate it.

I have both adminAuth and httpStaticAuth enabled. httpRoot has been set.

1. I access a static file - prompted for basic auth.
2. I access the editor, login/logout etc.
3. I access a second static file (so there's no caching going on) - no prompt for auth.





**Docker Parameter**
```
    - USER_DIR=/data
    - CONFIG_DIR=/config
    - STATIC_DIR=/static
    - NODES_DIR=/nodes
    - HTTP_ADMIN_ROOT=/admin
    - HTTP_NODE_ROOT=/nodes
    - HTTP_PROXY=https://${NODERED_HOSTNAME}
    - DISABLE_EDITOR=false
    - LOG_LEVEL=info
    - FLOWS=/nodes/flows.json
    - ADMIN_USER=saulo
    - NODES_USER=saulo
    - STATIC_USER=saulo
    - ADMIN_PASS=<>
    - NODES_PASS=<>
    - STATIC_PASS=<>
    restart: unless-stopped
    command: [ "npm", "start", "--", "--userDir", "/data", "--settings", "/config/settings.js" ]
```

** settings.js **
```
module.exports = {
    mqttReconnectTime: 15000,
    serialReconnectTime: 15000,
    debugMaxLength: 1000,
uiPort: process.env.PORT || 1880,
flowFile: process.env.FLOW_FILE,
flowFilePretty: true,
nodesDir: process.env.NODES_DIR,
httpAdminRoot: process.env.HTTP_ADMIN_ROOT,
httpNodeRoot: process.env.HTTP_NODE_ROOT,
httpStatic: process.env.STATIC_DIR,
    adminAuth: {
        type: "credentials",
        users: [{
            username: process.env.ADMIN_USER,
            password: process.env.ADMIN_PASS,
            permissions: "*"
        }]
    },
    httpNodeAuth: {user:process.env.NODES_USER,pass: process.env.NODES_PASS},
    httpStaticAuth: {user:process.env.STATIC_USER,pass: process.env.STATIC_PASS},
    disableEditor: process.env.DISABLE_EDITOR == 'false' ? false : true,
    functionGlobalContext: {
    },
    logging: {
        console: {
            level: "trace",
            metrics: false,
            audit: false
        }
    }
}
```

@knolleary 
I still have the issue. now that you talked about the cache I had the idea of enabling cache in chrome (which is always of to facilitate web development).

with the (chrome) cache enabled the error disappears.

I'll close it. thank you for the help.

Ok - good to know.

Do let us know if you hit any more clashes between the different auth methods. It isn't an area I can recall having any problems raised in the past, but if you stumble on something, please do let us know.

I will. 